path: ./hosts # path to hosts file
ssh_command: /usr/bin/ssh # you can use just "ssh" as well
inventory_only: false # true = do not fall back to the ssh command if host not found in inventory
debug: false # show debug info
defaults: # default options to be used if value is not provided in the inventory and ansible.cfg, you can remove any option if you don't need it
  port: 22 # default ssh port
  user: ec2-user # default ssh user
  ssh_password: "Don't_Use_Th@t!" # default ssh password
  become_password: "Don't-Us3__that!!!" # default become password
  private_key: /path/to/default/private/key # use that!

# vi: ft=yaml
